- @posts.each do |post|
  = image_tag post.image.url(:small)
  %h2.comment_count= pluralize(post.comments.count, "Comment")
  %h2= link_to post.title, post
  %p
    = post.get_upvotes.size
    Likes
  %p
    = post.get_downvotes.size
    Dislikes
  
= link_to "Add new inspiratation", new_post_path()